*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
.logo img{
    width: 200px;
    padding: 0 60px;
    z-index: 2;
    position: absolute;
    border-radius: 0% 0% 40% 40%;
}
.topnav{
    height: 80px;
    width: 100%;
    background-color: #460406;
    font-family: 'Poppins', sans-serif;
    position: fixed;
}
.topnav a{
    color: white;
    border: 1px solid transparent;
    padding: 15px 20px;
    border-radius: 10px;
}
a.active{
    border: 2px inset gold;
}
a:hover{
    transition: 0.3s;
    color:gold;
}
ul{
    float: right;
    margin-right: 40px;
    font-size: 24px;
    opacity: 80%;
}
li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
    padding-left: 80px;
}
.main img{
    width: 100%;
    height: auto;
}
.main .text .motto{
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bolder;
    font-size: 140px;
    text-shadow: 5px 5px 10px #460406;
    font-family:monospace;
}
.main .text .quote{
    position: absolute;
    font-size: 60px;
    top: 85%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: gold;
}
footer{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #460406;
    color: gold;
    padding: 15px;
}
.form{
    display:flex;
    justify-content: center;
    height:500px;
    padding: 100px;
      }
      
      label {
        display: block;
        margin-bottom: 8px;
      }
      
      select {
        width: 100%;
        padding: 12px 20px;
        margin-bottom: 20px;
        border: 1px solid white;
        box-sizing: border-box;
      }
      
      input[type="submit"] {
        width: 100%;
        background-color: #460406;
        color: white;
        padding: 14px 20px;
        margin-top: 20px;
        border: none;
        cursor: pointer;
      }